      <div class="cell cell--xl ptl">
        <h2 class="tac tch">The Team<br><span class="tfb twb">&#8964;</span></h2>
        <img src="<%= image_url('team.png') %>" alt="AJ, Hebah, and Jessica" class="db mhc">
        <div class="group table--m">
          <div class="g-b--m--1of3 table-cell--m bca1 pal">
            <h2 class="mbf">AJ Foster</h2>
            <h4>Back-End Developer</h4>
            <p>A student of mathematics who is obsessed with "pretty" code. Ever since seing someone write a program in the 7th grade, he has treated programming like another subject in his education. He firmly believes in the mantra "do not let school get in the way of your education."</p>
            <p>AJ loves thinking through problems from the perspective of a machine, and persuading computers to do what he wants through code. He enjoys back-end development for its diversity of both problems and solutions.</p>
            <p>AJ is taking suggestions on how to answer the question, <em>"why did you choose to study mathematics?"</em></p>
            <p class="tsxl mbf tac">
              <a href="https://twitter.com/austin_j_foster" class="tci mlxs mrxs"><svg class="icon"><use xlink:href="#icon-twitter"></use></svg></a>
              <a href="https://github.com/aj-foster" class="tci mlxs mrxs"><svg class="icon"><use xlink:href="#icon-github"></use></svg></a>
            </p>
          </div>
          <div class="g-b--m--1of3 table-cell--m bch pal">
            <h2 class="mbf">Hebah</h2>
            <h4>Digital Designer</h4>
            <p>An alternative designer who draws inspiration from the usual in an unusual way. Born on one continent and raised on another, the diversity of her background enriches her love of culture. She’s been in the presence of one of the Old 7 World Wonders and one of the New 7 World Wonders.</p>
            <p>Hebah’s love for knowledge stems from her grandmother, who learned how to read &amp; write in her 60’s, and learned how to drive a car in her 70’s.</p>
            <p>Hebah’s concepts are always a product of having the abnormally active curiosity gene. She actually believes that <em>“curiosity saved the cat.”</em></p>
            <p class="tsxl mbf tac">
              <a href="https://twitter.com/hebahbydesign/" class="tci mlxs mrxs"><svg class="icon"><use xlink:href="#icon-twitter"></use></svg></a>
              <a href="https://instagram.com/hebahbydesign/" class="tci mlxs mrxs"><svg class="icon"><use xlink:href="#icon-instagram"></use></svg></a>
              <a href="https://dribbble.com/HebaH" class="tci mlxs mrxs"><svg class="icon"><use xlink:href="#icon-dribbble"></use></svg></a>
              <a href="https://www.pinterest.com/hebahbydesign/" class="tci mlxs mrxs"><svg class="icon"><use xlink:href="#icon-pinterest"></use></svg></a>
            </p>
          </div>
          <div class="g-b--m--1of3 table-cell--m bca2 pal">
            <h2 class="mbf">Jessica Sunga</h2>
            <h4>Front-End Developer</h4>
            <p>A mediator between the sciences and arts. Perpetually pursuing to bridge the gap between technology and design in order to create systems that can be understood by everyone. Jessica is currently studying Front-End Development and UX Design to promote this.</p>
            <p>She believes that any problem can be solved by just opening your mind to other people's thoughts and actions. Because of the constant contact with interesting individuals, she continually learns everyday.</p>
            <p>Even through debating about the best typeface with a client or agonizing about the perfect timing for CSS animations, Jessica believes "every cloud has a silver-lining."</p>
            <p class="tsxl mbf tac">
              <a href="https://twitter.com/sngjss" class="tci mlxs mrxs"><svg class="icon"><use xlink:href="#icon-twitter"></use></svg></a>
              <a href="https://github.com/sngjss" class="tci mlxs mrxs"><svg class="icon"><use xlink:href="#icon-github"></use></svg></a>
            </p>
          </div>
        </div>
      </div>
      <div class="bca3 tci">
        <div class="cell cell--xs ptl pbl plm prm">
          <h2 class="tac">The Code<br><span class="tfb twb">&#8964;</span></h2>
          <p>Inspired by the TV comedy <em>How I Met Your Mother</em>’s Bro Code, The Gurl Code is meant to be light hearted and fun.</p>
          <p>The Gurl Code was crafted to unleash the power of the creative woman by allowing her to express herself through design. We then decided to spice it up with a little competition.</p>
          <p>If you’d like to participate in designing, or share a Gurl Code that you’d like to see designed, just drop us a line at <a href="mailto:team@gurlcode.com" class="tci">team@gurlcode.com</a> or contact us through our social media.</p>
          <h3 class="mbs">How it works</h3>
          <p>Two designers will be given a week to design The Gurl Code of the week. The designs will be up for 7 days and everyone is welcome to vote for the best design. The winner will then have bragging rights. In the future we hope to screen print the winner's design as their prize.</p>
        </div>
      </div>
      <div class="ptl pbl tac">
        <p class="plm prm tch">Connect with us to learn more about each week's Gurl Code, our artists, and how you can contribute.</p>

        <!-- Mailchimp's Form Code -->
        <form class="sub validate" action="//thegurlcode.us10.list-manage.com/subscribe/post?u=b3e798e446029870488f76e4f&amp;id=a390c56c44" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_b3e798e446029870488f76e4f_a390c56c44" tabindex="-1" value=""></div>
          <p>
            <input type="email" value="" name="EMAIL" class="required email sub-email" id="mce-EMAIL" placeholder="EMAIL ADDRESS"><input type="submit" value="SUBSCRIBE" name="subscribe" id="mc-embedded-subscribe" class="sub-button">
          </p>

          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>
        </form>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
      </div>