.header
  background-color: $c-header
  margin-bottom: 1em
  position: relative
  text-align: center

.header:before
  border-top: 1.5em solid $c-header
  border-left: 1.5em solid $c-background
  bottom: 0
  content: ""
  height: 0
  left: 0
  position: absolute

.header:after
  border-top: 1.5em solid $c-header
  border-right: 1.5em solid $c-background
  bottom: 0
  content: ""
  height: 0
  position: absolute
  right: 0