.nav
  align-items: center
  justify-content: center

.nav-item
  color: $c-text
  font-size: 2em
  padding: 1rem 0.5em
  text-decoration: none
  text-transform: uppercase

  &:active, &:focus, &:hover, &.is-active
    color: $c-highlight

  transition: color 0.2s

.nav-feature
  font-family: $b-fontFamily-heading
  font-size: 3.5em