  <footer class="footer">
    <div class="cell cell--xs pam">
      <div class="fr tsl">
        <a href="https://instagram.com/the_gurlcode/" class="tci mlm"><svg class="icon"><use xlink:href="#icon-instagram"></use></svg></a>
        <a href="#" class="tci mlm"><svg class="icon"><use xlink:href="#icon-pinterest"></use></svg></a>
        <a href="https://twitter.com/the_gurlcode/" class="tci mlm"><svg class="icon"><use xlink:href="#icon-twitter"></use></svg></a>
      </div>
      <div>&copy; The Gurl Code</div>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-55626793-3', 'auto');
      ga('send', 'pageview');
    </script>
  </footer>